<%- model_class = Local -%>
<% content_for :header do%>
<%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
<% end %>

<%= search_form_for @q,:url=>admin_locals_path do |f| %>

<%= f.label "Busca" %>
<%= f.search_field :nome_or_codigo_cont %>
<%= f.submit %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:codigo) %></th>
      <th><%= model_class.human_attribute_name(:escola) %></th>
      <th><%= model_class.human_attribute_name(:municipio) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @locals.each do |local| %>
    <tr>
      <td><%= link_to objeto_valor(local.nome),admin_local_path(local) %></td>
      <td><%= objeto_valor(local.codigo) %></td>
      <td><%= objeto_valor(local.escola) %></td>
      <td><%= objeto_valor(local.municipio)%></td>
      <td>
       <%= link_to "Resumo do Quadro da Escola",
       admin_local_resumo_escola_path(local),:class => 'btn btn-default btn-xs' if local.escola?%>
       <%= link_to t('.edit', :default => t("helpers.links.edit")),
       edit_admin_local_path(local), :class => 'btn btn-default btn-xs' %>
       <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
       admin_local_path(local),
       :method => :delete,
       :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
       :class => 'btn btn-xs btn-danger' %>
     </td>
   </tr>
   <% end %>
 </tbody>
</table>

<%= will_paginate @locals, renderer: BootstrapPagination::Rails,:previous_label=>"<",:next_label=>">"%><br/>
<%= link_to t('.new', :default => t("helpers.links.new")),
new_admin_local_path,
:class => 'btn btn-primary' %>
