<%- model_class = Disciplina -%>
<%content_for :header do%>
<%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<% end %>

<%= search_form_for @q,:url=>admin_disciplinas_path do |f| %>

<%= f.label "Busca" %>
<%= f.search_field :nome_or_codigo_cont %>
<%= f.submit %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:codigo) %></th>
      <th><%=t '.actions', :default => t("helpers.actions")%></th>
    </tr>
  </thead>
  <tbody>
    <% @disciplinas.each do |disciplina| %>
      <tr>
        <td><%= objeto_valor(disciplina.nome) %></td>
        <td><%= objeto_valor(disciplina.codigo) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_disciplina_path(disciplina), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_disciplina_path(disciplina),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @usuarios, renderer: BootstrapPagination::Rails,:previous_label=>"<",:next_label=>">"%><br/>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_disciplina_path,
            :class => 'btn btn-primary' %>
