<%= simple_form_for @funcionario, :html => { :class => 'form-condensed' } do |f| %>

<%= f.input :local_id,:as=>:hidden,:input_html=>{:value=>current_usuario.local_id} %>

<%= f.input :nome %>
<%= error_span(@funcionario[:nome]) %>
<%= f.input :cpf,:label=>"CPF",:input_html=>{:class=>"cpf"} %>
<%= error_span(@funcionario[:cpf]) %>
<%= f.label "Cadastro¹"%> <i>¹não é necessário preencher este campo para o Contrato Administrativo.</i>
<%= f.input :cadastro,:label=>false%>
<%= error_span(@funcionario[:cadastro]) %>
<%= f.input :cargo,:collection=>@cargos,:label=>"Cargo"%>
<%= error_span(@funcionario[:cargo]) %>
<%= f.input :quadro,:collection=>@quadros %>

<%= error_span(@funcionario[:quadro]) %>
<div class="js-dependent-fields" data-select-id='funcionario_quadro' data-option-value='Estadual|Federal'>
	<%= f.input :classe,:collection=>@classes %>
	<%= error_span(@funcionario[:classe]) %>
	<% if @funcionario.municipio_concurso%>
	<%= f.input :municipio_concurso,:label=>"Município do Concurso",:collection=>@municipios,:selected=>@funcionario.municipio_concurso_id%>
	<% else %>
	<%= f.input :municipio_concurso,:label=>"Município do Concurso",:collection=>@municipios%>
	<% end %>
	<%= error_span(@funcionario[:municipio_concurso]) %>
	<div class="js-dependent-fields" data-select-id='funcionario_municipio_concurso' data-option-value='<%=Municipio.find_by(:nome=>'Macapá').id%>|<%=Municipio.find_by(:nome=>'Santana').id%>'>
		<%= f.input :area_concurso,:label=>"Área do Concurso",:collection=>["Urbana","Rural"] %>
		<%= error_span(@funcionario[:area_concurso]) %>
	</div>
	<%= f.input :situacao,:label=>"Situação",:collection=>@situacoes %>
	<%= error_span(@funcionario[:situacao]) %>
	<div class="js-dependent-fields" data-select-id='funcionario_cargo' data-option-value='Professor'>
		<% if @funcionario.disciplina_concurso%>
		<%= f.input :disciplina_concurso,:label=>"Disciplina do Concurso",:collection=>@disciplinas,:selected=>@funcionario.disciplina_concurso_id%>
		<% else %>
		<%= f.input :disciplina_concurso,:label=>"Disciplina do Concurso",:collection=>@disciplinas%>
		<% end %>
		<%= error_span(@funcionario[:disciplina_concurso]) %>
	</div>
</div>
<div class="js-dependent-fields" data-select-id='funcionario_quadro' data-option-value='Estadual'>
	<%= f.input :concurso,:collection=>@concursos %>
	<%= error_span(@funcionario[:concurso]) %>
</div>
<%= f.input :carga_horaria,:collection=>@cargas_horarias,:label=>"Carga Horária do vínculo" %>
<%= error_span(@funcionario[:carga_horaria]) %>


<%= f.button :submit, :class => 'btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
funcionarios_path, :class => 'btn btn-default' %>
<% end %>
