<%- model_class = Funcionario -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:cpf) %></th>
      <th><%= model_class.human_attribute_name(:cadastro) %></th>
      <th><%= model_class.human_attribute_name(:classe) %></th>
      <th><%= model_class.human_attribute_name(:padrao) %></th>
      <th><%= model_class.human_attribute_name(:carga_horaria) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= link_to funcionario.nome, funcionario_path(funcionario) %></td>
        <td><%= funcionario.cpf %></td>
        <td><%= funcionario.cadastro %></td>
        <td><%= funcionario.classe %></td>
        <td><%= funcionario.padrao %></td>
        <td><%= funcionario.carga_horaria %></td>
        <td><%=l funcionario.created_at %></td>
        <td>
          <%= link_to t('.destroy', :default => "Apagar"),
                      funcionario_path(funcionario),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Cadastrar Funcionário",
            new_funcionario_path,
            :class => 'btn btn-primary' %>
